*{
    margin: 0%;


}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 26px;
    position: sticky;
    top: 0%;
    padding: 15px;
    background-color: rgb(77, 66, 66);
    z-index: 1000;
    
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}
.nav li{
    list-style: none;

}
.nav a {
    text-decoration: none;
    color: rgb(185, 209, 217);
}
.xtra{
    color: aliceblue;
}
.watch{
    color: rgb(181, 22, 32);
}
.text1{
    font-size: 50px;
}
.text2{
    font-size: 80px;
}
.text3{
    font-size: 110px;
}
.btn1{
    cursor: pointer;
    border:1px solid black;
}
.btn1:hover{
    background-color: black;
}
.branding{
    padding: 150px;
    float: left;
    display: grid;
    grid-template-areas:" y x";
    gap: 90px;
  
}
.image1 img{
    height: 100%;
    width: 100%;
    z-index: 0;
  
}

.image1{
 grid-area:x;
 position: relative;
 bottom: 50px;
 left:90px;
 z-index: 0px;

  
}
.smart{
   grid-area:y;
   height: 500px;
   width: 500px;
   padding: 40px;
}
.text4 .btn2{
    border-radius: 36px;
    background-color: skyblue;
    font-size: 20px;
    padding: 10px;
    color: aliceblue;
    cursor: pointer;
}
.btn2 a {
    text-decoration: none;
    color: aliceblue;
   

}
.btn2:hover{
    background-color: black;
   
}
.text4{
    padding: 20px;
}
.text5 .watchvideo{
    border-radius: 36px;
    background-color: rgb(128, 82, 188);
    font-size: 20px;
    padding: 10px;
    color: aliceblue;
    cursor: pointer;
    z-index: 0px;
    border: 2px solid black;

}
.branding{
    padding-top: 50px;
}
.watchvideo a {
    text-decoration: none;
    color: aliceblue;
   

}
.text5{
    position: relative;
    bottom:84px;
    padding: 20px;
    left: 190px;
}
.watchvideo:hover{
    background-color: black;
   
}
.logo{
    position: relative;
    top: 1px;
    right: 4px;
}
.btn1{
    border-radius: 36px;
    background-color: skyblue;
    font-size: 16px;
    padding: 10px;
    color: aliceblue;
}

.btn1 a{
    color: aliceblue;
}
.features img{
    display: flex;
    justify-content: center;
    height: 90vh;
    padding: 50px 0px 0px 80px;

}
.feat{
    font-size: 90px;
    text-align: center;
}
.section44{
    padding: 50px;
}
.description{
    background-image: url("./smartwatch-phone-with-pen-headphones-monochromatic-background_222877-3486.webp");
    color: rgb(226, 215, 240);
    background-size: cover;
    height:80vh;
    padding: 50px 0px 50px 0px;
    border-radius: 2px solid black;
    border-radius: 40px;
    box-shadow: 8px 8px 30px 0px black;
    
}
.para{
    text-align: center;
    font-size: 40px;
    color: rgb(202, 214, 224);
}
.gadgetss{
    padding: 50px;
    display: flex;
    gap: 60px;
    justify-content: center;
 
}
.gadget{
    padding: 40px;
    text-align: center;
    font-size: 70px;
    color: rgb(200, 209, 216);
}
.circle{
 border: 2px solid rgb(224, 214, 214);
 width: 70px;
 border-radius: 50%;
 height: 70px;
 background-color: aliceblue;
}

.circle img{
    padding: 10px;
    opacity: 80%;
}
.water img{
    padding: 6px 0px 0px 14px;
}
.battery img{
    padding: 8px 0px 0px 19px;
}
.alarm img{
    padding: 8px 0px 0px 12px;
}
.weather img{
    padding: 6px 0px 0px 6px;
}
.containerz{
    display: flex;
    gap: 90px;
    justify-content: center;
    position: relative;
    bottom: 30px;
    font-size: 20px;
   
   
}
.dew{
    position: relative;
    left: 35px;

}
.life{
    position: relative;
    right:10px;

}
.alarmii{
    position: relative;
    
    right: 40px;
}
.cloud{
    position: relative;
    right: 50px;
}
.extra{
    color: rgb(209, 24, 49);
    font-size: 60px;
    
}
.form{
    border: 1px solid black;
    background-color: black;
    color: white;
    font-size: 30px;
    border-radius: 30px;
    padding: 40px;
    text-align: center;
    box-shadow: 20px 10px 10px 20px black;
}
.form-manage{
    padding: 10px;
}
.input{
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
}
.submitbtn{
    font-size: 20px;
    padding:40px;
    border:2px solid black;
    border-radius:30px;
    cursor: pointer;
    
}
.sectioniii{
 padding: 200px;
 display: flex;
 justify-content:space-between;
 gap: 70px;
}
.trendingeffect{
    font-size:30px;
    color: aliceblue;
    padding: 30px;
}
.trending{
    border: 2px solid black;
    background-color: black;
    border-radius: 30px;
    box-shadow: 20px 10px 10px 20px black;
}
.trding img{
    height: 300px;
    
}
.applewatch{
    font-size: 30px;
    color: aliceblue;
    text-align: center;
    padding: 20px;
}
.contactus{
    position: relative;
    left: 20px;
}
.trolly{
    color: aliceblue;
}
.contact-info{
   font-size: 30px; 
   color:aliceblue;
   position: relative;
  bottom: 0px;
  background-color: rgb(50, 34, 34);
  overflow: hidden;
  
}
#home{
    padding-top: 70px;
}
.containercontact{
    padding: 50px;
    display: flex;
    justify-content: space-between;
    height: 80px;
}
.information{
    border:0px solid black;
    color: white;
    display: flex;
    font-size: 20px;
    padding-top: 30px;
}
.information a{
    color: white;
}

.social{
    padding: 40px;
    position: relative;
    right: 370px;
   
}
.ccc{
    padding: 10px;
}
.faq{
    font-size: 20px;
    position: relative;
    right: 180px;
}
.parawwe{
    position: relative;
    bottom: 10px;
    left: 35px;
    font-size: 20px;
}
.mails{
    padding: 10px;
}
.add{
    padding: 10px;
}
.cont{
    padding:10px;
}
.copy{
    font-size: 20px;
    padding: 20px;
    text-align: center;
   
}
.paragraph{
    margin: 0px;
    padding: 30px 0px 0px 0px;
    font-size: 20px;
}
.watch-store{
    display: grid;
    justify-content: space-between;
    gap: 30px;
    grid-template-areas: 
    'first second third'
    'fourth fifth sixth'
    'seventh eight ninth';
    grid-gap: 60px;

}
.collections-wtc{
    font-size: 80px;
    text-align: center;
    color: black;
    padding: 120px;
}
.room{
    position: relative;
    left: 60px;
    text-align: center;
}
.room a{
    text-decoration: none;
    color: black;
    font-size: 40px;
}
.class .i{
    grid-area:first;


}
.class .ii{
    grid-area:second;

}
.class .iii{
    grid-area:third;

}
.class .iv{
    grid-area:fourth;

}
.class .v{
    grid-area:fifth;

}
.class .vi{
    grid-area:sixth;

}
.class .vii{
    grid-area:seventh;

}
.class .viii{
    grid-area:eight;

}
.class .ix{
    grid-area:ninth;
   
}
.colt{
    padding: 80px;
}
.class img{
    height: 300px;
}
.room{
    font-size:xx-large;
    position: relative;
    left: 10px;
    padding: 10px;
}
.price{
    border: 2px solid black;
    padding: 5px;
    background-color: green;
    color: white;
    border-radius: 36px;
}
.fbb{
   height: 70px;
}

.faq a{
    
    color: aliceblue;
    text-decoration: none;

}
.faq{
    padding-top: 10px;
}